* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', serif;
}

.wrapper {
    background: rgb(59, 54, 54);
    flex-direction: column;
    font-family: 'Arial', serif;
    height: 50vh;
    width: 100vw;
}
header {
    align-items: center;
    display: flex;
    flex-direction: column;
    color:antiquewhite;
}
.content {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.weather {
    display: flex; 
    align-items: center;
    margin: 15px 0;
    font-size: 1.5rem;
    color:antiquewhite;
}

#location {
    font-size: 5rem;
    font-weight: 800;
}